<article class="admin-control-panel" >
    <ul>
        <li><a href="/admin/orders">Orders</a></li>
        <li><a href="/admin/statistics" >Statistics</a></li>
        <li>Products
            <ul>
                <li><a href="/admin/products/wheelCover" >Wheel cover</a></li>
                <li><a href="/admin/products/sprayhood" >Sprayhood</a></li>
                <li><a href="/admin/products/custom" >Custom</a></li>
            </ul>
        </li>
        <li><a href="/admin/settings" >Settings</a></li>
        <li><a href="/admin/help" >Help</a></li>
    </ul>
</article>
