<footer>
    <section class="footer-main-container">
        <article class="logo-field">
            <img src="{{subRoutes}}assets/socials/google_logo.png" alt="google-logo">
        </article>
        <article class="address-field footer-width-field">
            <hr class="mobile-divider">
            <h5>Address:</h5>
            <p>Address: 55436, lewforos oxi 12</p>
            <p>Telephone: <span>2310 444 201</span></p>
            <p>Email: email@mail.com</p>
            <p>Location: Thessaloniki, Greece</p>
        </article>
        <div class="desktop-divider-1"></div>
        <article class="instructions-field footer-width-field">
            <hr class="mobile-divider">
            <h5>Instruction:</h5>
            <p>payment</p>
            <p>returns policy</p>
            <p>privacy policy</p>
            <p>terms and conditions</p>
        </article>
        <div class="desktop-divider-2"></div>
        <article class="company-field footer-width-field">
            <hr class="mobile-divider">
            <h5>Company:</h5>
            <p>Company info</p>
            <p>Order procedure</p>
            <p>bla bla bla</p>
        </article>
    </section>
    <hr>
    <section class="footer-copyright-container">
        <p>Copyright 2020 &nbsp&nbsp&nbsp <span class="copyright-divider">|</span> &nbsp&nbsp&nbsp Created by US</p>
    </section>
</footer>


{{#section 'stylesheets'}}
<link rel="stylesheet" href="{{subRoutes}}css/footer.css" >
{{/section}}
