<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>sakis</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8" >
        <link rel="stylesheet" href="{{subRoutes}}css/defaults.css" >
    </head>
    <style>

     .container {
         height: 100vh;
         background-color: green;
         display: flex;
         flex-flow: column nowrap;
     }
     .item1 {
         background-color: yellow;
         flex: 0 2 auto;
     }
     .item2 {
         flex: 1 1 auto;
         background-color: red;
     }
     .item3 {
         flex: 0 2 auto;
         background-color: blue;
     }
    </style>
    <body>
        <main>
            <div class="container" >
                <div class="item1" >
                    <p>first paragraph</p>
                    <p>second paragraph</p>
                </div>
                <div class="item2" >
                </div>
                <div class="item3" >
                    <p>first paragraph</p>
                    <p>second paragraph</p>
                </div>
            </div>
        </main>
    </body>
</html>
