
  /*Mobile menu*/
  #mobile {
    width: 100%;
    margin: auto;
    background-color: #e6e6e6;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .mobile-show{
    height: 100vh;
    z-index: 10;
  }
  .hide{
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .topnav {
    overflow: hidden;
    background-color: #e6e6e6;
    position: relative;
    padding: 5px;
    flex: 0 1 auto;
  }
  .padd{
    position: relative;
  }
  #myLinks {
    display: none;
    text-align: center;
    flex-direction: column;
    flex: 1 1 auto;
  }
  .spread{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    flex: 1 0 auto;
  }
  .bottom{
    margin-top: auto;
    flex: 0 1 auto;
  }
  .spread a{
    color: #a6a6a6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    width: 100%;
  }
  .user-status{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color: gray;
    width: 100%;
    margin: 2px;
  }
 .icon {
    background: black;
    width: 45px;
    height: 50px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }

  .shopping-bag{
    position: absolute;
    top: 0px;
    right: 55px;
    cursor: pointer;
  }
  .bag {
    width: 43px;
    height: 38px;
    cursor: pointer;
  }
  .bag-number {
    border-radius: 50%;
    width: 60px;
    height: 60px;

    background: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;

    position: absolute;
    right: -5px;
    top: 0;
    font: 17px Arial, sans-serif;
  }
  
  .spread a:hover {
    background-color: #ddd;
    color: black;
  }
  .active{
    width: 35px;
  }
  

  /*AERO HEADER*/
  #desktop{
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    background-color: rgb(185, 185, 185);
    padding: 10px 5px;
    width: 100%;
  }
  #logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo img{
    width: 40px;
  }
  #desktop-links{
    width: 60%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  #desktop-links a{
    color: rgb(49, 49, 49);
    margin:0px 10px;
  }
  #desktop-bag{
    width: 30px;
    position: absolute;
    right: 110px;
  }
  .desktop-bag-number{
    border-radius: 50%;
    width: 22px;
    height: 22px;

    background: rgb(255, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    right: 100px;
    top: 10px;
    font: 17px Arial, sans-serif;
  }
  #login{
    flex: 0 0 20%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    align-items: center;
    position: relative;
    padding: 15px;
  }
  #login p{
    color: white;
    text-decoration: none;
  }
  .login-panel{
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 0px 5px 6px;
    text-align: center;
    position: relative;
  }
  #user{
    width: 22px;
    margin-bottom: -5px;
  }
  .stickymenu{
    position: fixed;
    top: 0px;
    z-index: 20;
  }