<link rel="Stylesheet" href="{{subRoutes}}css/products/products2.css" >
<link rel="Stylesheet" href="{{subRoutes}}css/defaults.css" >

{{> product2}}

<section class="button-price-section">
    <div class="button-price-container">
        <h4>Price: <span class="totalPrice">0</span>€</h4>
        <button id="submit">ADD</button>
    </div>    
</section>
<script type="module" src="{{subRoutes}}js/sprayhood.js"></script>


